<p style="color: green"><%= notice %></p>
<h1>Courses</h1>
<div id="courses">
  <% @courses.each do |course| %>
    <div class="course">
      <%= render course %>
      <p>
        <%= link_to "Ver este curso", course ,class:"text-blue-600"%>
      </p>
    </div>
  <% end %>
</div>
<%= link_to "Nuevo curso", new_course_path %>
