<%= render @course %>
<div>
  <%= link_to "Regresar a los cursos", courses_path %> |

  <% if Current.user.present? && (Current.user.admin? || (Current.user.creator? && @course.user == Current.user)) %>
    <%= link_to "Editar este Curso", edit_course_path(@course) %>
    <%= button_to "Eliminar este curso", @course, method: :delete, data: { confirm: 'Estas seguro de eliminar este Curso?' } %>
  <% end %>
</div>
