<%= render @course %>
<div>
  <%= link_to "Back to courses", courses_path %> | 
  <% if Current.user && (Current.user.admin? || (Current.user.creator? && @course.user == Current.user)) %>
    <%= link_to "Edit this course", edit_course_path(@course) %> 
    <%= button_to "Destroy this course", @course, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>
